body 
{font-family: 'Bangers', cursive;
    font-family: 'Bungee', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Rubik Glitch', cursive;
    font-family: 'Unlock', cursive;}